<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<div class="headband"></div>
<header th:fragment="header" id="header" class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="header-inner">
        <div class="site-meta ">
            <div class="custom-logo-site-title">
                <a href="/" class="brand" rel="start">
                    <span class="logo-line-before"><i></i></span>
                    <span class="site-title">以梦为马</span>
                    <span class="logo-line-after"><i></i></span>
                </a>
            </div>
            <p class="site-subtitle">以梦为马，不负韶华</p>
        </div>
        <div class="site-nav-toggle">
            <button>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
            </button>
        </div>
        <nav class="site-nav">
            <ul id="menu" class="menu menu-left">
                <li class="menu-item menu-item-home">
                    <a href="/" rel="section">
                        <i class="menu-item-icon fa fa-home fa-fw"></i> <br/>
                        首页
                    </a>
                </li>

                <li class="menu-item menu-item-archives">
                    <a href="/category/Java" rel="section">
                        <i class="menu-item-icon fa fa-archive fa-fw"></i> <br/>
                        Java
                    </a>
                </li>

                <li class="menu-item menu-item-categories">
                    <a href="/category/Spring" rel="section">
                        <i class="menu-item-icon fa fa-th fa-fw"></i> <br/>
                        Spring
                    </a>
                </li>


                <li class="menu-item menu-item-tags">
                    <a href="/category/Kafka" rel="section">
                        <i class="menu-item-icon fa fa-tags fa-fw"></i> <br/>
                     Kafka
                    </a>
                </li>

                <li class="menu-item menu-item-tags">
                    <a href="/category/BigData" rel="section">
                        <i class="menu-item-icon fa fa-cloud  fa-fw"></i> <br/>
                     大数据
                    </a>
                </li>
                <li class="menu-item menu-item-about">
                    <a href="/category/essay" rel="section">
                        <i class="menu-item-icon fa fa-cloud fa-fire"></i> <br/>
                        随笔
                    </a>
                </li>
                <li class="menu-item menu-item-about">
                    <a href="/about" rel="section">
                        <i class="menu-item-icon fa fa-user fa-fw"></i> <br/>
                        关于
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>